[Unit]
Description=Fairdata Download Server
Requires=fairdata-download-server.socket
After=network.target

[Service]
Type=notify
User={{ application_user }}
Group={{ application_group }}
EnvironmentFile={{ application_config_directory }}/fairdata-download-server.env
WorkingDirectory={{ repo_dest }}
ExecStart=/bin/sh -c '${GUNICORN_BIN} --config ${GUNICORN_CONF} download:flask_app'
ExecReload=/bin/kill -s HUP ${MAINPID}
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
