FLASK_APP=download
FLASK_ENV={{ application_environment }}

DOWNLOAD_SERVICE_SETTINGS={{ application_service_settings }}

GUNICORN_BIN={{ application_config_directory }}/venv/bin/gunicorn
GUNICORN_CONF={{ application_config_directory }}/fairdata-download-server-gunicorn.py
