accesslog = '{{ directory_log }}/download-server-access.log'
errorlog = '{{ directory_log }}/download-server-error.log'
workers = {{ gunicorn_workers }}
threads = {{ gunicorn_threads }}
loglevel = '{{ gunicorn_log_level }}'