accesslog = '{{ application_log_directory }}/download-server-access.log'
errorlog = '{{ application_log_directory }}/download-server-error.log'
workers = {{ gunicorn_workers }}
threads = {{ gunicorn_threads }}
