[Unit]
Description=UNIX socket for Fairdata Download Server

[Socket]
ListenStream={{ gunicorn_socket }}
SocketMode=0666
SocketUser={{ application_user }}
SocketGroup={{ application_group }}
RuntimeDirectory=fairdata-{{ instance_name }}-server

[Install]
WantedBy=sockets.target
