CELERYD_NODES="w1"

CELERY_BIN="{{ application_runtime_directory }}/venv/bin/celery"

CELERY_APP="download.celery"

CELERYD_MULTI="multi"

CELERYD_OPTS="--time-limit=300 --concurrency={{ celeryd_concurrency }}"

CELERYD_PID_FILE="{{ application_runtime_directory }}/download-generator-%n.pid"
CELERYD_LOG_FILE="{{ application_log_directory }}/download-generator-%n%I.log"
CELERYD_LOG_LEVEL="{{ celeryd_log_level }}"

FLASK_APP=download
FLASK_ENV={{ application_environment }}

DOWNLOAD_SERVICE_SETTINGS={{ application_service_settings }}
