FLASK_APP=download
FLASK_ENV={{ application_environment }}

DOWNLOAD_SERVICE_SETTINGS={{ application_service_settings }}

GUNICORN_BIN={{ directory_venv }}/bin/gunicorn
GUNICORN_CONF={{ directory_config }}/fairdata-download-server-gunicorn.py
