FLASK_APP=download
FLASK_ENV={{ application_environment }}

DOWNLOAD_SERVICE_SETTINGS={{ application_service_settings }}

GUNICORN_BIN={{ application_runtime_directory }}/venv/bin/gunicorn

DOWNLOAD_SERVER_ACCESS_LOG={{ application_log_directory }}/download-server-access.log
DOWNLOAD_SERVER_ERROR_LOG={{ application_log_directory }}/download-server-error.log
DOWNLOAD_SERVER_LOG_LEVEL=INFO
